This is a system Validation at {{ ansible_date_time.time }} on {{ ansible_date_time.date }}

Unreachable systems:
----------------------------------------------
{% for host in ansible_play_hosts_all %}
{% if host not in ansible_play_hosts %}
{{ host }}
{% endif  %}
{% endfor %}

Installed packages from upgrade:
----------------------------------------------
{% for host in ansible_play_hosts_all %}
{% if hostvars[host].app_upgrade is defined and hostvars[host].app_upgrade.results is defined %}
{% for package in hostvars[host].app_upgrade.results %}
{{ host }} - Package {{ package }} was installed.
{% endfor %}
{% endif %}
{% endfor %}

Installed packages:
----------------------------------------------
{% for host in ansible_play_hosts_all %}
{% if hostvars[host].app_install is defined and hostvars[host].app_upgrade.results is defined %}
{% if hostvars[host].app_install.changed is sameas true %}
{% for package in hostvars[host].app_install.results %}
{{ host }} - Package {{ package }} was installed.
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
