### Custom #####

# Dynamic MOTD Banners
PrintMotd yes

# accept locale-related environment variables
AcceptEnv LANG LC*
UsePAM yes

# Disallow everyone else from login in
PasswordAuthentication no
PubkeyAuthentication no
PermitRootLogin no

# Security 
LoginGraceTime 30s

# Only allow these networks to log in via publickey
Match Address 10.0.20.*,10.0.10.*,10.0.100.*,127.*.*.*
	AuthenticationMethods publickey
	PubkeyAuthentication yes
	PermitRootLogin prohibit-password
