{# {% for host in ansible_play_hosts_all %}
{% if host not in ansible_play_hosts %}
{{ host }} - was not reachable.
{% endif  %}
{% endfor %}
{% for host in ansible_play_hosts_all %}
{% set keys1 = ansible_facts.packages.keys() %}
{% set keys2 = packages_before.ansible_facts.packages.keys() %}
{% set different_keys = keys1 | difference(keys2) | union(keys2 | difference(keys1)) %}
{% endfor %}

{% for host in ansible_play_hosts_all %}
{{ host }}
{% if different_keys is defined and different_keys %}
new_packages:
{% for key in different_keys %}
- {{ key }}
{% endfor %}
{% else %}
No new packages found.
{% endif %}
{% endfor %} #}
{# 
{% for host, packages in host_packages.items() %}
{{ host }}:
{% for package in packages %}
{{ package }}
{% endfor %}
{% endfor %} #}

{{packages_after}}
{{packages_before}}
{{ (packages_before | difference(packages_after) | first )}}