{# {% for host in ansible_play_hosts_all %}
{% if host in ansible_play_hosts %} #}
{%- set before_packages = packages_before.stdout | from_json -%}
{%- set after_packages = packages_after.stdout | from_json -%}

{%- set before_dict = {} -%}
{%- set after_dict = {} -%}

{%- for pkg in before_packages -%}
  {%- set _ = before_dict.update({pkg.name: pkg.version}) -%}
{%- endfor -%}

{%- for pkg in after_packages -%}
  {%- set _ = after_dict.update({pkg.name: pkg.version}) -%}
{%- endfor -%}

{%- set added = {} -%}
{%- set removed = {} -%}
{%- set changed = {} -%}

{%- for name, version in after_dict.items() -%}
  {%- if name not in before_dict -%}
    {%- set _ = added.update({name: version}) -%}
  {%- elif before_dict[name] != version -%}
    {%- set _ = changed.update({name: {'old': before_dict[name], 'new': version}}) -%}
  {%- endif -%}
{%- endfor -%}

{%- for name, version in before_dict.items() -%}
  {%- if name not in after_dict -%}
    {%- set _ = removed.update({name: version}) -%}
  {%- endif -%}
{%- endfor -%}

{
  "host": "{{ inventory_hostname }}",
  "added": {{ added | to_nice_json }},
  "removed": {{ removed | to_nice_json }},
  "changed": {{ changed | to_nice_json }}
}
{# {% endif  %}
{% endfor %} #}